<div class="card header-container p-3 mt-3" style="width: 70vw">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control custom-input" id="name">
        </div>

        <div class="col-md-6">
            <label for="email" class="form-label">Email-cím</label>
            <input type="email" class="form-control custom-input" id="email">
        </div>

        <div class="col-md-6">
            <label for="address" class="form-label">Cím</label>
            <input type="text" class="form-control custom-input" id="address" placeholder="1056 Budapest, Irányi u. 3.">
        </div>

        <div class="col-md-6">
            <label for="phoneNumber" class="form-label">Telefonszám</label>
            <input type="text" class="form-control custom-input" id="phoneNumber" placeholder="+36302234267">
        </div>

        <div class="row">
            <div class="col-md-6 mt-3">
                <app-select [label]="'Melyik képzésünk érdekel?'" [content]="'inputCourse'" [options]="courseOptions"></app-select>
            </div>
            <div class="col-md-6 p-3">
                <app-radio [options]="statusRadioOptions"></app-radio>
            </div>
        </div>


        <div class="col-12">
            <div class="form-check custom-checkbox">
                <input class="form-check-input" type="checkbox" id="gdprCheck">
                <label class="form-check-label" for="gdprCheck">
                    Elolvastam a PROGmasters Adatkezelési tájékoztatóját és tudomásul vettem az abban közölteket.
                </label>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-0">
            <button type="submit" class="btn btn-danger">Jelentkezés</button>
        </div>
    </form>
</div>