<div class="container">
    <div class="col-12">
        <table class="table w-100">
            <thead>
                <th>Név</th>
                <th>Titulus</th>
                <th>Bemutatkozás</th>
                <th>Elérhetőségek</th>
                    <!-- <th>Email</th>
                    <th>Telefonszám</th> -->
                <th>Képzések</th>
                <th>Kép</th>
                <th>Szerkesztés</th>
                        <!-- törlés, részletek -->
            </thead>
            <tbody>
                <tr *ngFor="let mentor of mentors">
                    <td class="col-2">{{mentor.name}}</td>
                    <td class="col-2">{{mentor.title}}</td>
                    <!-- <td class="col-2">{{mentor.description}}</td> -->
                    <td class="col-2">Kattints...</td>
                    <td class="col-2">Kattints...</td>
                    <td class="col-2">mit tanít?</td>
                    <td class="col-2">
                        <img [src]="mentor.imgURL" [alt]="mentor.name" style="width: 100px;">
                    </td>
                    <!-- <td><button class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Törlés</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>

</div>